.DS_Store

bin/
build/
lib/
src/cmake-build-debug
**/.idea/workspace.xml
**/.idea/tasks.xml
**/*.trace/

reports/

**/CMakeLists.txt.user
build-QtMain-Desktop_Qt_5_12_0_clang_64bit-Default/

**/*.class

java/animesh-tools/animeshtools/target/
java/All\ Src

ext/
odds/